section.svelte-3ana0k{display:flex;flex-direction:column;text-align:center;justify-content:center;align-content:center;padding-bottom:4em;margin:1em;height:70vh}h1.svelte-3ana0k{font-size:100pt;margin-bottom:0}
