a.svelte-183o1l5{text-decoration:none;color:var(--fg-color);background-color:var(--bg-color);border-radius:var(--radius-size);padding:.5em 1em;margin:.1em}a.svelte-183o1l5:hover,.active.svelte-183o1l5{background:var(--hover-color);background:var(--gradient-hover-color)}.pagination.svelte-i4ednb{display:flex;justify-content:center;padding-bottom:2em}section.svelte-o1885t{display:flex;padding:2em;flex-flow:row wrap;justify-content:center;gap:1em}
