.blog-date.svelte-h44i3o{font-size:13pt}a.svelte-h44i3o{color:var(--fg-color);text-decoration:unset;background:rgb(32,33,41);background:var(--gradient-bg-color);padding:1em;border-radius:var(--radius-size);font-size:15pt;display:flex;justify-content:space-between}@media only screen and (min-width: 768px){a.svelte-h44i3o{width:35vw}}a.svelte-h44i3o:hover{background:var(--gradient-hover-color);cursor:pointer}
