@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

:root {
	--bg-color: #141519;
	--content-bg-color: #18191f;
	--fg-color: #ffffff;
	--gradient-bg-color: linear-gradient(310deg, rgba(32, 33, 41, 1) 0%, rgba(40, 42, 54, 1) 100%);
	--hover-color: #506eff;
	--gradient-hover-color: linear-gradient(
		124deg,
		rgba(50, 68, 158, 1) 0%,
		rgba(47, 61, 134, 1) 100%
	);
	--radius-size: 0.5em;
	--font-size: 14pt;
}

@media only screen and (min-width: 768px) {
	:root {
		--font-size: 16pt;
	}
}

::selection {
	background-color: var(--hover-color);
	color: var(--fg-color);
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding-top: 11vh;
	color: var(--fg-color);
	font-family: 'Source Sans Pro', 'sans-serif';
	font-size: var(--font-size);
	background: var(--bg-color);
	background: radial-gradient(circle, rgba(20, 21, 25, 1) 0%, rgba(16, 17, 20, 1) 100%);
	background-attachment: fixed;
    min-height: 100vh;
}
